<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TodoList</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="inputValue"/>
		<button v-on:click="handleBtnClick">提交</button>
		<ul>
			<todo-item :item="item"
			           :index="index"
			           v-for="(item,index) in list" 
			           @delete="handleItemDelete">
			</todo-item>
		</ul>
	</div>

	<script>
       
        //Vue.component("TodoItem",{
        //	props:['item'],
        //	template:"<li>{{item}}</li>"
        //})
        var TodoItem={
        	props:['item','index'],
        	template:"<li @click='handleItemClick'>{{item}}</li>",
        	methods:{
        		handleItemClick:function(){
        			this.$emit("delete",this.index)
        		}
        	}
        }



		var app=new Vue({
			el:'#app',
		    components:{
		    	TodoItem:TodoItem
		    },
            data:{
            	list:[],
            	inputValue:''
            },
            methods:{
            	handleBtnClick:function(){
            		this.list.push(this.inputValue)
            		this.inputValue=''
            	},
            	handleItemDelete:function(index){
                    this.list.splice(index,1)
            	}
            }
		})
	</script>
</body>
</html>